services:

  spark-master:
    image: apache/spark:4.1.1-scala2.13-java21-python3-ubuntu
    container_name: spark-master
    command:
      - /opt/spark/bin/spark-class
      - org.apache.spark.deploy.master.Master
      - --host
      - spark-master
      - --port
      - "7077"
      - --webui-port
      - "8080"
    ports:
      - "8080:8080"   # Spark Master Web UI
      - "7077:7077"   # Spark Master port
    volumes:
      - ./jobs:/opt/spark/jobs
      - spark-logs:/opt/spark/spark-events
    networks:
      - spark-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 20s

  spark-worker-1:
    image: apache/spark:4.1.1-scala2.13-java21-python3-ubuntu
    container_name: spark-worker-1
    command:
      - /opt/spark/bin/spark-class
      - org.apache.spark.deploy.worker.Worker
      - --webui-port
      - "8081"
      - spark://spark-master:7077
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
    ports:
      - "8081:8081"   # Worker 1 Web UI
    volumes:
      - ./jobs:/opt/spark/jobs
      - spark-logs:/opt/spark/spark-events
    depends_on:
      spark-master:
        condition: service_healthy
    networks:
      - spark-network

  spark-worker-2:
    image: apache/spark:4.1.1-scala2.13-java21-python3-ubuntu
    container_name: spark-worker-2
    command:
      - /opt/spark/bin/spark-class
      - org.apache.spark.deploy.worker.Worker
      - --webui-port
      - "8082"
      - spark://spark-master:7077
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
    ports:
      - "8082:8082"   # Worker 2 Web UI
    volumes:
      - ./jobs:/opt/spark/jobs
      - spark-logs:/opt/spark/spark-events
    depends_on:
      spark-master:
        condition: service_healthy
    networks:
      - spark-network

  spark-history:
    image: apache/spark:4.1.1-scala2.13-java21-python3-ubuntu
    container_name: spark-history
    command:
      - /opt/spark/bin/spark-class
      - org.apache.spark.deploy.history.HistoryServer
    environment:
      - SPARK_HISTORY_OPTS=-Dspark.history.fs.logDirectory=/opt/spark/spark-events
    ports:
      - "18080:18080"  # History Server Web UI
    volumes:
      - spark-logs:/opt/spark/spark-events
    depends_on:
      spark-master:
        condition: service_healthy
    networks:
      - spark-network

volumes:
  spark-logs:

networks:
  spark-network:
    driver: bridge
